body {
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
}

img {
    width: 300px;
}
img.img-index{
    width: 8vw;
}


a {
    color: rgb(24,24,24);
    text-decoration: none;
}

a:hover {
    font-size: 17px;
    color: rgb(16,16,16);
    text-decoration: none;
    transition: 1s;
}

p.index-tit {
    display: inline-block;
    width: 15vw;
    padding: 5px;
    font-weight: bold;
}
p.img-index{
    display: inline-block;
    width: 15vw;
    padding: 7px;
}
p.index-curpr {
    display: inline-block;
    width: 15vw;
    padding: 5px;
    font-weight: bolder;
}
p.index-lisdesc {
    display: inline-block;
    width: 30vw;
    padding: 5px;
}
.title-h{
    font-weight: 900;
    font-size: 18px;
}