body {
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 16px;
}

img {
    width: 300px;
}

a {
    color: rgb(24,24,24);
    text-decoration: none;
}

a:hover {
    font-size: 17px;
    color: rgb(16,16,16);
    text-decoration: none;
    transition: 1s;
}

p.indexListing {
    display: inline-block;
    width: 20vw;
    padding: 5px;
}