body {
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
}

img {
    width: 300px;
}
img.img-index{
    width: 8vw;
    height: 12vh;
    border-radius: 10px;
}


a {
    color: rgb(24,24,24);
    text-decoration: none;
}

a:hover {
    font-size: 17px;
    color: rgb(16,16,16);
    text-decoration: none;
    transition: 0.5s;
}
div.body-listing{
    
    top: 50%;
    height: 15vh;
}
div.body-listing:hover{
    box-shadow: 2px 3px rgb(235, 235, 235);
    background-color: rgb(245, 245, 245);
    transition: all 1s;
    padding: 2px 4px;
    top: 50%;
    border-radius: 15px;
}
p.index-tit {
    display: inline-block;
    width: 15vw;
    padding: 5px;
    font-weight: bold;
}
p.img-index{
    display: inline-block;
    width: 15vw;
    padding: 7px;
}
p.index-curpr {
    display: inline-block;
    width: 15vw;
    padding: 5px;
    font-weight: bolder;
}
p.index-lisdesc {
    display: inline-block;
    width: 30vw;
    padding: 5px;
}
.title-h{
    font-weight: 900;
    font-size: 18px;
}