{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <h2 style="text-decoration: underline; margin-bottom: 4vh;">{{ listings.0.category }}</h2>
    <div class="title-h">
        <p class="img-index"></p>
        <p class="index-tit">Listing</p>
        <p class="index-curpr">Current Price</p>
        <p class="index-lisdesc">Description</p>
    </div>
    <hr>
    <!-- {% for listing in listings %}
        
        <a href="../../listing/{{ listing.title }}">
            <div>
                <h5> Listing: {{ listing.title }} </h5>
                <p>{% if image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.image_url }}">
                {% endif %}</p>
                <p>{{ listing.description }}</p>
                <p>Current price: ${{ listing.current_price }}</p>
                <br>
            </div>
        </a>
        
        
    {% endfor %} -->
    {% for listing in listings %}
    <a href="../../listing/{{ listing.title }}">
    <div class="body-listing">
        <p class="img-index">{% if listing.image_url %}
            <img class="img-index" src="{{ listing.image_url }}">
        {% endif %}</p>
        <p class="index-tit">{{ listing.title }} </p>
        <p class="index-curpr">${{ listing.current_price }}</p>
        <p class="index-lisdesc">{{ listing.description }}</p>
        <br>
    </div>
    </a>
    {% endfor %}
    {% if listings.count == 0 %}
        <h5 style="margin-bottom: 3vh;">There is no active listings in this category</h5>
        <ul class="a-list">
        <li><a href="{% url 'categories' %}">Go back to Categories</a></li>
        <li></p><a href="{% url 'index' %}">Go to Homepage</a></li>
        </ul>
    {% endif %}
    
{% endblock %}