{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="title-h">
        <p class="img-index"></p>
        <p class="index-tit">Listing</p>
        <p class="index-curpr">Price</p>
        <p class="index-lisdesc">Description</p>
    </div>
    <hr>
    {% for listing in active_listings %}
    <a href="listing/{{ listing.title }}">
    <div>
        <p class="img-index">{% if listing.image_url %}
            <img class="img-index" src="{{ listing.image_url }}">
        {% endif %}</p>
        <p class="index-tit">{{ listing.title }} </p>
        <p class="index-curpr">${{ listing.current_price }}</p>
        <p class="index-lisdesc">{{ listing.description }}</p>
        <br>
    </div>
    </a>
    {% endfor %}
{% endblock %}