{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="title-h">
        <p class="img-index"></p>
        <p class="index-tit">Listing</p>
        <p class="index-curpr">Current Price</p>
        <p class="index-lisdesc">Description</p>
    </div>
    <hr>
    <div class="listing-container">
        {% for listing in act_listings_list %}
        <a href="listing/{{ listing.title }}">
        <div class="body-listing">
            <p class="img-index">{% if listing.image_url %}
                <img class="img-index" src="{{ listing.image_url }}">
            {% endif %}</p>
            <p class="index-tit">{{ listing.title }} </p>
            <p class="index-curpr">${{ listing.current_price }}</p>
            <p class="index-lisdesc" style="
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 350px;
                vertical-align:middle;
              ">{{ listing.description }}</p>
            <br>
        </div>
        </a>
        {% endfor %}
        <!-- {{ act_listings_list }} -->
        <div class="pagination-container">
        {% if act_listings_list.has_previous %}
            <a class="a-icons" href="?page=1">&laquo; </a>
            <a class="a-icons" href="?page={{ act_listings_list.previous_page_number }}"> &lsaquo; </a>
        {% endif %}

        Page {{ act_listings_list.number }} of {{ act_listings_list.paginator.num_pages }}

        {% if act_listings_list.has_next %}
            <a class="a-icons" href="?page={{ act_listings_list.next_page_number }}"> &rsaquo;</a>
            <a class="a-icons" href="?page={{ act_listings_list.paginator.num_pages }}"> &raquo;</a>
        {% endif %}
        </div>
    </div>
{% endblock %}