{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    {% if listing.image_url %}
        <div><img class="img-{{ listing.title }}" src="{{ listing.image_url }}"></div>
    {% endif %}
    <br>
    <div>
        <p><b>Description: </b>{{ listing.description }}</p>
        {% if listing.bids.count == 0 %}
        <p>Starting bid: ${{ listing.current_price }}</p>
        {% else %}
        <p>Total bids: {{ listing.bids.count }}</p>
        <p>Highest bid: ${{ listing.bids.last.amount }} -
            {% if listing.bids.last.bidder == user %}
                You are the highest bidder!
            {% endif %}
        </p>
        {% endif %}
    </div>
    <p>
    {% if listing.active %}
    <form action="{% url 'listing' listing.title %}" method="post">
        {% csrf_token %}
        {% if is_exist %}
        <button type="submit" name="watch_list" value="remove" class="btn btn-secondary">Remove from watch list</button>
        {% else %}
        <button type="submit" name="watch_list" value="add" class="btn btn-primary">Add to watch list</button>
        {% endif %}
    </form>
    <form action="{% url 'bid' listing.title %}" method="post">
        {% csrf_token %}
        <input class="bid_amount" type="text" name="bid_amount" placeholder="Enter your bid">
        <input type="submit" value="Bid" class="btn btn-info">
        {% if message %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
    </form>
    <form action="{% url 'close_bid' listing.title %}" method="post">
        {% csrf_token %}
        <button type="submit" name="close_bid" value="close" class="btn btn-success">Close bid</button>
    </form>
    {% else %}
        {% if listing.buyer == user %}
            <p>Listing is closed, you won the bidding! </p>
        {% else %}
            <p>Listing is closed, you cannot bid on this listing! </p>
        {% endif %}
    {% endif %}
    </p>
    <p>Listed by: {{ listing.seller }}</p>
    <p>Category: {{ listing.category}}</p>
    
{% endblock %}