{% extends "auctions/layout.html" %}

{% block title %}
    AuctionHub
{% endblock %}

{% block body %}
<div class="watch-search-container">
    <h2 style="text-decoration: underline; margin-bottom: 4vh;">Search Results</h2>

    <ul class="a-list">
        {% for search in searches %}
            <li> <a href="../listing/{{ search.title }}"><div>
                <p> <strong>{{ search.title }}</strong>, price:  ${{ search.current_price }}</p>
            </div></a> </li>
        {% endfor %}
        {% if searches|length == 0 %}
            <p>No result found.</p>
            <li><a href="{% url 'index' %}">Go back to homepage</a> </li>
        {% endif %}
    </ul>
</div>
{% endblock %}