{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch List</h2>
    <ul>
    {% for watch_list in watch_lists %}
    <li><a href="../listing/{{ watch_list.listing.title }}">
        <div>
            <p> Listing: {{ watch_list.listing.title }}, price:  ${{ watch_list.listing.current_price }}</p>
            <br>
        </div>
    </li></a>
    {% endfor %}
    {% if watch_lists.count == 0 %}
        <h5>You have no listings in your watch list</h5>
    {% endif %}
    </ul>
    
{% endblock %}